<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <!--[if lt IE 9]>
            <script src="js/vendor/html5-3.6-respond-1.1.0.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <div class="title">
                <h1>streetsign</h1>
                <h2>{{ subtitle }}</h2>
                </div>
                <nav>
                    <ul>
                        <li><a href="https://bitbucket.org/dfairhead/streetsign-server">Source</a></li>
                        <li><a href="http://streetsign.readthedocs.org/en/latest/">Docs</a></li>
                        <li><a href="http://streetsign.readthedocs.org/en/latest/getting_started.html">Getting Started</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                <article>
                {{ body }}
                </article>

                <aside>
                    <h3>in action</h3>
                    {% macro sideimg(filename, desc) %}
                    <div class="desc">{{desc}}</div>
                    <a href="img/{{filename}}" _target="new"><img src="img/thumbnails/{{filename}}" alt="{{desc}}"/></a>
                    {% endmacro %}
                    {{ sideimg("vertical-big.JPG", "Vertical displays") }}
                    {{ sideimg("horizontal-big.JPG", "Horizontal displays") }}
                    {{ sideimg("weather.JPG", "Daily Weather") }}

                    {{ sideimg("vertical-on-truss.JPG", "Vertical displays on truss") }}
                    {{ sideimg("hallway.JPG", "Outside the dining hall, for people in the queue") }}
                    {{ sideimg("dining-room.JPG", "Projected inside the dining hall") }}
                    {{ sideimg("cafe.JPG", "In the cafe") }}
                </aside>

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>streetsign.org.uk</h3>
                <p>&copy; Copyright 2013/2014 Daniel Fairhead </p>
                <p> Street Sign is GPL3 Licenced Free Software.  Use, tinker, enjoy. </p>
                <a href="http://www.gnu.org/licenses/quick-guide-gplv3.html"><img src="img/gpl-logo.png" alt="StreetSign is GPL3, Free Software" /></a>
            </footer>
        </div>
    </body>
</html>
